/* 
Plan is to create variables for
    Colors
    Fonts
    Content/Container Spacing
    Letter Spacing

Styling Plan:
    Body Container
        to center

    *Card Container
        to contain overall card
        +drop shadow
        +border radius

    **Content Container
        to contain content in the card


    ***Image Container
        to contain image

    ****Image

    ***Text Container
        to contain text

    **** Header Text

    **** Category Text

    **** Publication Date Text

    **** Body Text

    **** Author Container
        to contain author content
        
    ***** Author Image

    ***** Author Text
    
*/




/* Variables */

:root {
    --bg-color: hsl(47, 88%, 63%);
    --whitespace-color: hsl(0, 0%, 100%);
    --gray500-color: hsl(0, 0%, 42%);
    --gray950-color: hsl(0, 0%, 7%);
    --space-200: 1rem; /* body is 16 px by default*/
    --space-150: .75rem;
    --space-100: .5rem;
    --space-50: .25rem;
    /* font shorthand: font-style font-variant font-weight font-size(req)
                        line-height font-family(req) */
    /* Need to put letter-spacing separately, same throughout */
    --title-font: 800 1.5rem 1.5 'Figtree';
    --body-font: 500 1rem 1.5 'Figtree';
    --date-font: 500 7/8rem 1.5 'Figtree'; 
    --author-font: 800 7/8rem 1.5 'Figtree';
    --letter-spacing: 0px;
}


/* Styling */
.attribution { 
    font-size: 11px; 
    text-align: center; 
    
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    height: 100vh;
    margin: 0;
    padding: 0;
}

.card {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    min-width: 320px;
    width: min-content;
    background-color: var(--whitespace-color);
    padding: var(--space-200);
    border-radius: 20px;
    border: 1px solid black;
    /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [spread radius] [color];
 */
    box-shadow: 8px 8px;
}

.content {
    flex: 1 1 auto;
    text-align: left;
    
}

@media (max-width: 375px) {
    .card {
        height: 80vh;
        width: 80vw;
    }
}

.img-container {
    
}


.txt-container h1 {
    font: var(--title-font);
}

.txt-container .author h2 {
    font: var(--)
}

.txt-container h4 {


}

.tx-container p {

}