/* 
Plan is to create variables for
    Colors
    Fonts
    Content/Container Spacing
    Letter Spacing

Styling Plan:
    Main Container
        to center

    *Card Container
        to contain overall card

        padding, not margin: spacing/200

        +drop shadow
        +border radius
        +border

        font styling
            Text will be inherited automatically

    **Content Container
        to contain content in the card

        +flex box
            column
            center on cross-axis
            center on main-axis
                I want to keep a consistent margin top & bottom


        no margin - padding on parent takes care of that
        
        set width here once

        small screen media query shrink
            need to apply to height & width proportionally

        Spacing between items: spacing/200

    ***Image Container
        to contain image
        +flexbox
            center on cross-axis
            center on main-axis

        set height here
            parent media query should override
        +border radius
        +overflow hidden

    ****Image
        height 100%
        width 100%

    ***Text Container
        to contain text
        
        

        

    **** Header Text

    **** Category Text

    **** Publication Date Text

    **** Body Text

    **** Author Container
        to contain author content

    ***** Author Image

    ***** Author Text
    
*/




/* Variables */

:root {
    --bg-color: hsl(47, 88%, 63%);
    --whitespace-color: hsl(0, 0%, 100%);
    --gray500-color: hsl(0, 0%, 42%);
    --gray950-color: hsl(0, 0%, 7%);
    --space-200: 1rem; /* body is 16 px by default*/
    --space-150: .75rem;
    --space-100: .5rem;
    --space-50: .25rem;
    /* font shorthand: font-style font-variant font-weight font-size(req)/line-height font-family(req) */
    /* Need to put letter-spacing separately, same throughout */
    /* Can't mix rem & px in the shorthand */
    --title-font: 800 24px/36px 'Figtree', sans-serif;
    --body-font: 500 16px/24px 'Figtree', sans-serif;
    --date-font: 500 14px/21px 'Figtree', sans-serif; 
    --label-font: 800 14px/21px 'Figtree', sans-serif;
    --author-font: 800 14px/21px 'Figtree', sans-serif;
    --letter-spacing: 0px;

    --mobile-title-font: 800 20px/30px 'Figtree', sans-serif;
    --mobile-body-font: 500 14px/21px 'Figtree', sans-serif;
    --mobile-date-font: 500 12px/21px 'Figtree', sans-serif; 
    --mobile-label-font: 800 12px/21px 'Figtree', sans-serif;
    --mobile-author-font: 800 14px/21px 'Figtree', sans-serif;
}


/* Styling */
.attribution { 
    font-size: 11px; 
    text-align: center; 
    
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    height: 100vh;
    margin: 0;
    padding: 0;
}

.card {
    background-color: var(--whitespace-color);
    padding: var(--space-200);
    border-radius: 20px;
    border: 1px solid black;
    /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [spread radius] [color];
 */
    box-shadow: 8px 8px;
    width: fit-content;
    height: fit-content;
    display: inline-block;
    width: auto;
    height: auto;
}



.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 336px;
    gap: var(--space-200);
}

@media (max-width: 375px) {
    .content {
        width: 268.8px; /* 80% of the original 336px */
    }
    
    /* .img-container {  
    height: 160px; } */ /*80% of the original 200px */

    .txt-container h1 {
        font: var(--mobile-title-font);
    }
    
    .txt-container h2 {
        font: var(--mobile-label-font);
        background-color: var(--bg-color);
        width: fit-content;
        padding: 3px;
        border-radius: 3px;
    }
    
    .txt-container h4 {
        font: var(--mobile-date-font);
    }
    
    .txt-container p {
        font: var(--mobile-body-font);
    }
}


.img-container {
    border-radius: 10px;
    overflow: hidden;
    height: 200px;

    /* flex-basis: ; */
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.txt-container {
    padding: 0px;
}

.txt-container h1 {
    font: var(--title-font);
}

.txt-container h2 {
    font: var(--label-font);
    background-color: var(--bg-color);
    width: fit-content;
    padding: 3px;
    border-radius: 3px;
}

.txt-container h4 {
    font: var(--date-font);
}

.txt-container p {
    font: var(--body-font);
}

.author {
    display: flex;
    font: var(--author-font);
    align-items: center;
}

.author img {
    height: 100%;
}

.author h2 {
    margin: 0px;
}